<!DOCTYPE html>
<html>
   <head><title>{{head}}</title></head> 
   <body>
       <h1>Enter terms below.</h1>
       {% for i in path%}
           <h2>{{i}}</h2>
           <tr><td valign="top"></td><td><a href="{{i+"/"}}">{{i}}</a></td><td align="right">  </td><td align="right">1.7M</td></tr>

       {% end%}
#       <tr><td valign="top"></td><td><a href="http://42qu-school.googlecode.com/files/mysql.chm">file</a></td><td align="right">14-Jul-2008 14:12  </td><td align="right">1.7M</td></tr>
   </body>
</html>
